<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-image: url('https://i.makeagif.com/media/4-24-2017/xzMHOc.gif');
            color: white;
            margin: 20px;
        }
    </style>
</head>
<body>
    <h1>Error!</h1>

<br>
<br>
<h2> <center>   Please Check The Code Again! The Code Provided Is Incorrect!  <h2>
    <button onclick="window.location.href='/'" style="background-color: #3498db; color: #ffffff; padding: 10px 20px; border: none; border-radius: 5px; text-decoration: none; cursor: pointer;">Click here to move back to home</button>
</center>
</body>
</html>
